<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://dennisouyang.getforge.io/">Dennis Ouyang</a>. Former investment industry professional training to become a professional web developer. You can see more more of my code at <a target="_blank" href="https://github.com/dennisgit42">my github profile.</a>
  </p>
</div>


<br class="clear">
<br />
<br />

<div class="row">
  <div class = "col-12 col-sm-4">
    <%= image_tag 'dennis_photo.JPG', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-8">
    <h2 class = "text-center">Dennis Ouyang</h2>
    <p>
      Dennis Ouyang worked in securties industry for many years, now making career change into software development.
    </p>
  </div>
</div> 

<br class="clear" />
<br>
<br>
<br>
<br>
